body {
    background: url('./imgs/main.png');
    margin: 0;
}
header {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.container {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: rgb(7, 148, 153);
    color: white;
}
nav {
    width: 200px;
    height: 100px;

}
ul {
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
    display: block;
    box-sizing: border-box;
    float: left;
}
a {
    text-decoration: none;
}

ul > li+::after{
    content: "";
    border-left: 2px solid gray;
    margin-left: 5px;
}

nav li:hover{
    cursor: pointer;
    color: orange;
}

.middle {
    height: auto;
    width: 960px;
    margin: 0 auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;

}
.middle-left {
    width: 650px;
    height: 100%;
    background: white;
  

}
.middle-right {
    width: 270px;
    height: 200px;
    background: white;
}

h3 {
    padding: 20px;
    font-size: 1.5em;
    color: rgb(7, 148, 153);
    border-bottom: 2px solid gray;
}


.middle-right h3 {
   
    color: rgb(7, 148, 153);
    font-size: 1.5em;
    padding: 20px;
    border-bottom: 2px solid gray;
}
.image {
    padding-left: 20px;
}
img {
    width: 62px;
    height: 62px;
}
footer {
    height: 100px;
    background: #666;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgb(7, 148, 153);
    margin-top: 30px;
}


input {
    display: block;
    width: 98%;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    padding: 20px;
}
button{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: rgb(7, 148, 153);
    font-size: 20px;
}
label {
    font-size: 20px;
    color: gray;
}

@media screen and (max-width: 959px){
 
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    ul {
        padding: 0;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        padding: 10px;
    }
    footer {
        width: 100%;
        margin-top: 30px;
    }
    .logo {
        width: 100%;
    }
}
@media screen and (max-width: 974px) {
    .container {
        width: 100%;
    }
    .middle {
        width: 100%;
    }
}

@media screen and (max-width: 941px){
    .middle {
        width: 100%;
    }
    .middle-left{
        width: 60%;
    }
    .middle-right {
        width: 30%;
    }
}

@media screen and (max-width: 741px) {
    .middle {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .middle-left {
        width: 100%;
    }
    .middle-right {
        width: 100%;
        margin-top: 30px;
    }